<validation>
  <!-- Attention for naming command id -->
  <!-- ">?&=#" CANNOT be contained in id values -->
  <!-- under the same serivce, id has to be unique -->
  <service>
    <name>make</name>
    <execute>true</execute>
    <command id = "build cpputest_armcc">make -r BUILD_CONFIG=cpputest_armcc clean all</command>
  </service>
  <service>
    <name>cpputest</name>
    <execute>false</execute>
    <command id = "run build">make -C src\Adc\test -r BUILD_CONFIG=cpputest_default bare all</command>
    <command id = "run tests">make -C src\Adc\test -r test</command>
    <command id = "run tests with gcov">make -C src\Adc\test -r gcov </command>
    <command id = "run tests with junit">make -C src\Adc\test -r test_junit </command>
  </service>
</validation>